<a href="https://colab.research.google.com/github/Rohit-Saswadkar/Data-Manipulation-using-Pyspark/blob/main/Data_Manipulation_using_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=1737c1e0ba01504c5562ba281b85fdc058cc318bd53935770d312db241ebe544
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

#Pyspark

###Data frames

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###Structure

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
path = r'/content/drive/MyDrive/Py Spark/test2.csv'

spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
df = spark.read.csv(path) # either read as simple

In [ ]:
df = spark.read.option('header','true').csv(path) # or get with headers ie column names

In [ ]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
type(df) # check df type created by spark

pyspark.sql.dataframe.DataFrame

In [ ]:
# check info of dataframe
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

in above the info of numerical col is also string. to correct that we use inferSchema = true in read csv

###Get data

In [ ]:
df = spark.read.option('header','true').csv(path , inferSchema = True)

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

###Data extraction

1] Select - slicing not works in spark so we use select to show the columns

In [ ]:
# show the exact required column
df.select('name').show()

+---------+
|     name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
|   Mahesh|
|     NULL|
|     NULL|
+---------+

In [ ]:
df.select('name','age').show()

+---------+----+
|     name| age|
+---------+----+
|    Krish|  31|
|Sudhanshu|  30|
|    Sunny|  29|
|     Paul|  24|
|   Harsha|  21|
|  Shubham|  23|
|   Mahesh|NULL|
|     NULL|  34|
|     NULL|  36|
+---------+----+

Common functions of spark and pandas are-
1] head
2] describe
3] dtypes

In [ ]:
df.head(5)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000),
 Row(Name='Harsha', age=21, Experience=1, Salary=15000)]

In [ ]:
df.tail(2)

[Row(Name=None, age=34, Experience=10, Salary=38000),
 Row(Name=None, age=36, Experience=None, Salary=None)]

In [ ]:
df.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [ ]:
df.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

###Data manipulation

In [ ]:
# Add column
df = df.withColumn('salary', df['age']*200000)
df.show()

+---------+----+----------+-------+
|     Name| age|Experience| salary|
+---------+----+----------+-------+
|    Krish|  31|        10|6200000|
|Sudhanshu|  30|         8|6000000|
|    Sunny|  29|         4|5800000|
|     Paul|  24|         3|4800000|
|   Harsha|  21|         1|4200000|
|  Shubham|  23|         2|4600000|
|   Mahesh|NULL|      NULL|   NULL|
|     NULL|  34|        10|6800000|
|     NULL|  36|      NULL|7200000|
+---------+----+----------+-------+

In [ ]:
# rename columns
# df = df.withColumnRenamed('salary','Income in $k')
df.show()

+---------+----+----------+-------+
|     Name| age|Experience| salary|
+---------+----+----------+-------+
|    Krish|  31|        10|6200000|
|Sudhanshu|  30|         8|6000000|
|    Sunny|  29|         4|5800000|
|     Paul|  24|         3|4800000|
|   Harsha|  21|         1|4200000|
|  Shubham|  23|         2|4600000|
|   Mahesh|NULL|      NULL|   NULL|
|     NULL|  34|        10|6800000|
|     NULL|  36|      NULL|7200000|
+---------+----+----------+-------+

In [ ]:
# drop column
# df = df.drop('Income in $k')
df.show()

+---------+----+----------+-------+
|     Name| age|Experience| salary|
+---------+----+----------+-------+
|    Krish|  31|        10|6200000|
|Sudhanshu|  30|         8|6000000|
|    Sunny|  29|         4|5800000|
|     Paul|  24|         3|4800000|
|   Harsha|  21|         1|4200000|
|  Shubham|  23|         2|4600000|
|   Mahesh|NULL|      NULL|   NULL|
|     NULL|  34|        10|6800000|
|     NULL|  36|      NULL|7200000|
+---------+----+----------+-------+

###Handling Missing values

Drop

In [ ]:
# drop null values
df = df.na.drop()

In [ ]:
df = df.na.drop(how = 'all' , thresh = 5)

Filling the missing values

In [ ]:
df = df.na.fill('100',['age'])

In [ ]:
# fill missing values by mean of that column
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols = ['age','Experience'], outputCols = ['{}_imputed'.format(c) for c in ['age','Experience']]).setStrategy('mean')

In [ ]:
#imputer.fit(df).transform(df).show()
df.show()

+----+---+----------+------+
|Name|age|Experience|salary|
+----+---+----------+------+
+----+---+----------+------+

##Filter Operations

In [ ]:
# Filter
df.filter((df['salary']>20000) & (df['salary']<=55000)).show()

+----+---+----------+------+
|Name|age|Experience|salary|
+----+---+----------+------+
+----+---+----------+------+

## Group by and Aggregate operations

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/Py Spark/test3.csv',header=True,inferSchema=True)

In [ ]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
# groupby
# get employee with max salary among all
df.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+